*{
    font-family: monospace;
}
body{
    font-size: 20px;
}
h1, h2{
    color: brown;
}
p{
    color: blue;
}
.highligth{
    text-transform: uppercase;
    background-color: gold;
}

.gray{
    color: gray;
}

#first{
    color: rgb(132, 0, 255);
   
}
#second{
    font-style: italic;

}