*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: outset red;
    font-size: 1.2rem;
    margin: 1.5em 2em 2em 2em  ;
    padding: 1.5em ;
    outline:  solid palegreen;
    outline-offset: 10px;
}