body{
    padding: 10%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}
/* input , button{
    font:inherit;
} */
.ops{
    text-indent: 2em;
    text-align: justify;
    line-height: 1.6;
}
p{
    line-height: 1.5; 
    
}